<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.juriy.fourballs"
          android:versionCode="1"
          android:versionName="1.0">

    <supports-screens
            android:largeScreens="true"
            android:normalScreens="true"
            android:smallScreens="true"
            android:resizeable="true"
            android:anyDensity="true"
            />

    <!-- Uncomment this line if your page will interact with the server -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    -->

    <application android:label="@string/app_name"
                 android:icon="@drawable/icon">
        <activity android:name="FourBalls"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.apache.cordova.DroidGap" android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
            </intent-filter>
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="8" />
</manifest>  
