<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi"/>
</head>
<body>
<h1>Something wrong has just happened. But fear not! We will fix it soon.</h1>
</body>
</html>
